:root {
    --color-black: #0A0A0A;
    --color-beige: #E3D5B7;
    --color-red: #AD3831;
    --color-blue: #7AABC4;
    --color-white: #FFFFFF;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    line-height: 1.5;
    background-color: var(--color-black);
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--color-black);
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
}


.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

.thin {
    font-weight: 100;
}

.extra-light {
    font-weight: 200;
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.medium {
    font-weight: 500;
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.extra-bold {
    font-weight: 800;
}

.black {
    font-weight: 900;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    vertical-align: middle;
}

.icon-animated {
    transition: all 0.3s ease;
}

.animation-stop {
    animation-play-state: paused;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}
