.logo {
    width: 100%;
    max-width: 1302px;
    height: auto;
}

.marquee-wrapper {
    width: 100%;
    overflow: hidden;
    background-color: var(--color-beige);
    padding: 10px 0;
    border-top: 1px solid var(--color-beige);
    border-bottom: 1px solid var(--color-beige);
}

.marquee {
    display: flex;
    white-space: nowrap;
    animation: marquee 5s linear infinite;
}

.marquee span {
    font-family: 'PT Sans', sans-serif;
    font-size: 64px;
    font-weight: 400;
    line-height: 1.295;
    text-transform: uppercase;
    color: var(--color-black);
}

.number {
    font-family: 'PT Sans', sans-serif;
    font-size: 300px;
    font-weight: 400;
    line-height: 1.295;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-beige);
}

.number--overlay {
    position: absolute;
    z-index: 10;
}

.number--7 {
    top: 36.51px;
    left: 642px;
}

.number--8 {
    top: 345.26px;
    left: 263.84px;
}

.number--9 {
    top: 345.26px;
    right: 263.84px;
}

.credits {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 0;
    text-align: center;
}

.credits__text {
    font-family: 'PT Sans', sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.295;
    text-transform: uppercase;
    color: var(--color-beige);
    margin: 0;
}

.card-flip__text {
    font-family: 'PT Sans', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-beige);
    text-transform: uppercase;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 50px;
    opacity: 0;
}

.card-flip--2 .card-flip__text {
    animation: textFadeIn 1.2s ease-out 4.8s forwards;
}

.card-flip--6 .card-flip__text {
    animation: textFadeIn 1.2s ease-out 4.8s forwards;
}

.card-flip--3 img {
    animation: starRotateScale 8s ease-in-out 6.8s infinite;
    transform-origin: center;
}

.author {
    display: block;
    position: absolute;
    bottom: 40px;
}
